
.light{
    display: flex;
    flex-direction: column;
    color: #ffffff;

    /* height: 95vh; */
    /* padding-bottom: -100vh; */

}
img{
    height: 10vh;
    margin-left: 15vw;
    width: 5vw;
    
}

h2{
    color: rgba(33, 27, 27, 0.845);
    margin-left: 15vw;

}
.color{
    font-size: 15px;
    color: rgba(33, 27, 27, 0.845);
    flex-direction: row;
    display: block;
}
.dark-mode .color{
    font-size: 15px;
    color: #ffffff;

    flex-direction: row;
    display: block;
}
.dark-mode h2{
    color: #fff;
    margin-left: 15vw;

}
.color{
    font-size: 15px;
    color: rgba(33, 27, 27, 0.845);
    flex-direction: row;
    display: block;
}
.color p{
    margin-left: 15vw;

}
li{
    margin-left: 18vw;
}
#blue{
    color: rgb(26, 104, 230);
    margin-left: 18vw;
}
.dark-mode #blue{
    color: black;
    margin-left: 18vw;
}
.small{
    font-size: 12px;
    display: block;
    margin-top: 3vh;
    margin-left: 15vw;
}

.dark-mode {
    background-color: #00000057;
    display: flex;
    flex-direction: column;
    height: 95vh;
  }
button{
    width: 5vh;
    height: 5vh;
    border-radius: 20% 20% ;
}
.dark-mode button {
    background-color: #555555; /* 暗夜模式下按钮的背景色 */
    color: #ffffff; /* 暗夜模式下按钮的字体颜色 */
    border: none; /* 可选：移除按钮边框 */
  }
  
  /* 可选：为按钮在亮色模式下的样式进行调整 */
  .father button {
    background-color: #f0f0f0; /* 亮色模式下按钮的背景色 */
    color: #333333; /* 亮色模式下按钮的字体颜色 */
    border: 1px solid #cccccc; /* 可选：为按钮添加边框 */
  }